
.baseComp {
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    width: 1200px;
    height: 800px;
}

.row-btn-add {
    text-align: left;
    margin: 5px;
}

#tableProd {
    position: absolute;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}

.table {
    height: 150px;
    overflow-y: scroll;
}

.mainDiv {
    display: block;
    border-style: solid;
    border-width: 1px;
}

h1 {
    display: inline-block;
}

button {
    margin: 2px;
}

.myComp {
    width: 45%;
    display: inline-block;
}

.superComponent {
    border: black 1px solid;
}